apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: testdeployconfigs.cicd.coolkev.com
spec:
  group: cicd.coolkev.com
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                config:
                  type: object
                  required:
                    - owner
                    - repo
                  properties:
                    owner:
                      type: string
                    repo:
                      type: string
                artifact:
                  type: object
                  required:
                    - owner
                    - repo
                    - branch
                  properties:
                    owner:
                      type: string
                    repo:
                      type: string
                    branch:
                      type: string
                team:
                  type: string
                kind:
                  type: string
                  description: "The kind of deployable (service, worker, job, meta, etc.)"
                specs:
                  type: array
                  description: "Array of Kubernetes resource manifests"
                  items:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
              required:
                - config
                - team
                - specs
                - kind
            status:
              type: object
              properties:
                orphaned:
                  type: boolean
                autodeploy:
                  type: boolean
                artifact:
                  type: object
                  properties:
                    sha:
                      type: string
                    branch:
                      type: string
                config:
                  type: object
                  properties:
                    sha:
                      type: string
                    branch:
                      type: string

      additionalPrinterColumns:
        - name: Team
          jsonPath: .spec.team
          type: string
        - name: Kind
          jsonPath: .spec.kind
          type: string
        - name: Artifact Repo
          jsonPath: .spec.artifact.repo
          type: string
        - name: Config Repo
          jsonPath: .spec.config.repo
          type: string
        - name: Config SHA
          jsonPath: .status.config.sha
          type: string
        - name: Artifact SHA
          jsonPath: .status.artifact.sha
          type: string
        - name: Autodeploy
          jsonPath: .status.autodeploy
          type: boolean
        - name: Age
          jsonPath: .metadata.creationTimestamp
          type: date
        - name: Orphaned
          jsonPath: .status.orphaned
          type: boolean
      subresources:
        status: {}
  scope: Namespaced
  names:
    plural: testdeployconfigs
    singular: testdeployconfig
    kind: TestDeployConfig
    shortNames:
      - tdc
