apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: testdeployconfigs.cicd.coolkev.com
spec:
  group: cicd.coolkev.com
  versions:
    - name: v1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                artifact:
                  type: object
                  required:
                    - owner
                    - repo
                    - branch
                  properties:
                    owner:
                      type: string
                    repo:
                      type: string
                    branch:
                      type: string
                autodeploy:
                  type: boolean
                team:
                  type: string
                kind:
                  type: string
                  description: "The kind of deployable (service, worker, job, meta, etc.)"
                specs:
                  type: array
                  description: "Array of Kubernetes resource manifests"
                  items:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
              required:
                - artifact
                - autodeploy
                - team
                - specs
                - kind
            status:
              type: object
              properties:
                autodeploy:
                  type: boolean
                artifact:
                  type: object
                  properties:
                    currentSha:
                      type: string
                    wantedSha:
                      type: string
                    latestSha:
                      type: string
                    branch:
                      type: string
                config:
                  type: object
                  properties:
                    owner:
                      type: string
                    repo:
                      type: string
                    sha:
                      type: string

      additionalPrinterColumns:
        - name: Team
          jsonPath: .spec.team
          type: string
        - name: Kind
          jsonPath: .spec.kind
          type: string
        - name: Repo
          jsonPath: .spec.artifact.repo
          type: string
        - name: Default Branch
          jsonPath: .spec.artifact.branch
          type: string
        - name: Current Branch
          jsonPath: .status.artifact.branch
          type: string
        - name: Current SHA
          jsonPath: .status.artifact.currentSha
          type: string
        - name: Wanted SHA
          jsonPath: .status.artifact.wantedSha
          type: string
        - name: Autodeploy
          jsonPath: .status.autodeploy
          type: boolean
        - name: Age
          jsonPath: .metadata.creationTimestamp
          type: date
      subresources:
        status: {}
  scope: Namespaced
  names:
    plural: testdeployconfigs
    singular: testdeployconfig
    kind: TestDeployConfig
    shortNames:
      - tdc
